
.lPage {
    background-image: url('../imgs/turisms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    padding-top: 2px;
    background-size: cover; 
}
